# Private
/*.key
/consoles/db/
/options/gfm.xml
/options/security.xml


# Workspace-specific (projects, recent files, workspace/java paths, etc.)
# or files that changes too frequently (statistics, GUI widgets, ..)
/componentVersions/*.xml
/options/dimensions.xml
/options/feature.usage.statistics.xml
/options/fileEditorProviderManager.xml
/options/find.recents.xml
/options/jdk.table.xml
/options/options.xml
/options/recentProjects.xml
/options/statistics.application.usages.xml
/options/window.manager.xml
/tasks/*.zip
